body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'GoogleSans', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'GoogleSans';
    src: local('GoogleSans'), url(./components/fonts/GoogleSans-Regular.ttf) format('truetype');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}